<%- include('header') -%>

<div class ="login-x" id="login">
    <h1> ●ᴥ● Welcome Express Home Page ●ᴥ● </h1>
    
    <h5><%= locals.user ? user:"User"%></h5>

    <a href="/route/logout"> Logout </a>
    
    </div>  

    

<%- include('footer') -%> 